Language: Cpp
AccessModifierOffset: -8
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BraceWrapping:
    AfterClass: true
    AfterFunction: true
    AfterNamespace: true
BreakBeforeBraces: Custom
ColumnLimit: 0
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 8
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: CaseSensitive
TabWidth: 8
UseTab: ForContinuationAndIndentation
AlignArrayOfStructures: Left
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8